<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilo.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/5.5.2/collection/components/icon/icon.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <section>
        <form>
            <h1>Login</h1>

            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" required>
                <label for="">Email</label>
            </div>

            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input type="password" required>
                <label for="">Password</label>
            </div>

            <div class="forget">
                <label for=""><input type="checkbox">Remember Me</label>
                <a href="">Contraseña olvidada</a>
            </div>


            <button onclick="window.location.href='/sistema'">Log In</button>
        </form>
    </section>
</body>
</html>